#particles-js
{
    background: #020e08;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
}
.navbar{
  padding: 0 0 0 0;
}
button{
    color:#3B5998 
}
.button,
  [class*="button-"] {
    position: relative;
    display: inline-block;
    overflow: hidden;
    float: left;
    margin: 0 0 0 0;
    padding: 0em;
    height: 3.0em;
    font: 300 1em/3.5em 'Righteous', cursive;
    text-decoration: none;
    letter-spacing: .08em;
    color: #fff;
    background:transparent;
    border-radius: 2px;
    -moz-transition: ease 0.35s all;
    -o-transition: ease 0.35s all;
    -webkit-transition: ease 0.35s all;
    transition: ease 0.35s all;
  }
  .button:hover,
  [class*="button-"]:hover {
    background:transparent;
    font-family: 'Righteous', cursive;
  }
  .button-hover:hover {
    line-height: 10em;
  }
  .button-hover:before {
   content: attr(data-text);
    color: black;
    position: absolute;
    top: -2.75em;
  }

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/jumbotronbackground.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.thumbnail {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid white;
    padding: 0.6rem;
    margin: 0.4rem;
  }

  .lightbox {
      display: none;
      position: fixed;
      z-index: 9999;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0cm;
      left: 0;
      background: rgba(0,0,0,0.8);
  }
  .lightbox img {
      max-width: 90%;
      max-height: 80%;
      margin-top: 2%;
  }
  .card-header{
    color: white;
    font-family: 'Bowlby One SC', cursive;
  }
  .card-body{
    color:#2d862d;
  }
  .card-title{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
  }
  .card{
    padding: 20px;
  }
  .lightbox:target {
      outline: none;
      display: block;
  }
  @media (max-width:765px) {
      .thumbnail {
          max-width: 95%;
      }
      .lightbox img {
          margin-top: 50%;
      }
  }
    h2{
        color: rgba(240, 166, 30, 0.795);
        font-family: Arial, Helvetica, sans-serif;
        
    }
    /* Style all font awesome icons */
.fa {
    padding: 30px;
    font-size: 100px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
.fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-github{
    background:transparent;
    color: black;   
  }
  .fa-linkedin {
    background:transparent;
    color:black;
  }
  .fa-skype {
    background: #00aff0;
    color: white;
  }
 
  #text{
    color: white;
    font-size: 60px;
    text-align: left;
      font-family: 'Bowlby One SC', cursive;
  }
  .img-profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 6px solid #fff;
    padding: 0.6rem;
    margin: 0.4rem;
    background-color: #1A1F2B;
}
#info{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.project-section{
  font-family: 'Bowlby One SC', cursive;
}
.project {
  margin-bottom: 0;
}
.projects h1 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}
.text-uppercase{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.card{
  border-width: thick;
  border-color: #fff;
  border-radius: 20px;
}
.navbar{
  font-family: 'Righteous', cursive;
}
footer {
  font-family: 'Righteous', cursive;
}
.nav-item{
  padding-left: 50px;
  padding-right: 50px;
  font-size: 17px;
}
#college{
  color: white;
  font-family: 'Bowlby One SC', cursive;
}
/*icons*/
.sbuttons {
  bottom: 5%;
  position: fixed;
  margin: 1em;
  left: 0;
}
.sbutton {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 20px auto 0;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  position: relative;
}
.sbutton > i {
  font-size: 30px;
  line-height: 60px;
  transition: all .2s ease-in-out;
  transition-delay: 2s;
}
.sbutton:active,
.sbutton:focus,
.sbutton:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}
.sbutton:not(:last-child) {
  width: 60px;
  height: 60px;
  margin: 20px auto 0;
  opacity: 0;
}
.sbutton:not(:last-child) > i {
  font-size: 25px;
  line-height: 60px;
  transition: all .3s ease-in-out;
}
.sbuttons:hover .sbutton:not(:last-child) {
  opacity: 1;
  width: 60px;
  height: 60px;
  margin: 15px auto 0;
}
.sbutton:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms;
}
.sbutton:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 20ms;
  transition-delay: 20ms;
}
.sbutton:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 40ms;
  transition-delay: 40ms;
}
.sbutton:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 60ms;
  transition-delay: 60ms;
}
.sbutton:not(:last-child):nth-last-child(5) {
  -webkit-transition-delay: 80ms;
  transition-delay: 80ms;
}
.sbutton:not(:last-child):nth-last-child(6) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
 
[tooltip]:before {
  font-family: 'Roboto';
  font-weight: 600;
  border-radius: 2px;
  background-color: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-left: 10px;
  position: absolute;
  left: 100%;
  bottom: 20%;
  white-space: nowrap;
}
 
[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
.sbutton.mainsbutton {
  background: #ffc107;
}
.sbutton.github {
  background: #f4cbb2;
}
.sbutton.linkedin {
  background: #0e76a8;
}

