body {
  display: block !important;
}
#particles-js
{
    background: #020e08;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
}
hr{
  color: #fff;
  width: thick;
}
.navbar{
  padding: 0 0 0 0;
  z-index:50; 
}
a.navbar-brand img{
  transition: transform 1s;
}
a.navbar-brand img:hover{
  transform: scale(1.5);
}
.nav-item{
  color:#ff9800;
}
.button,
  [class*="button-"] {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 3.0em;
    font: 300 1em/3.5em 'Lobster', cursive;
    text-decoration: none;
    letter-spacing: .08em;
    color: #fff;
    background:transparent;
    border-radius: 2px;
    -moz-transition: ease 0.35s all;
    -o-transition: ease 0.35s all;
    -webkit-transition: ease 0.35s all;
    transition: ease 0.35s all;
  }
  .button:hover,
  [class*="button-"]:hover {
    background:transparent;
    font-family: 'Lobster', cursive;
  }
  .button-hover:hover {
    line-height: 10em;
  }
  .button-hover:before {
   content: attr(data-text);
    color: #ffc107;
    position: absolute;
    top: -2.75em;
  }

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/jumbotronbackground.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.thumbnail {
    width: 25%;
    height: auto;
    border-radius: 50%;
    padding: 0.0rem;
    margin: 1rem;
  box-shadow: 0 0 10px #fff050, 0 0 20px #ffc107, 0 0 30px #ffc222;
  transition: transform 2s;
  }
  .thumbnail:hover{
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg) scaleX(1.2) scaleY(1.2) scaleZ(1.2);
    box-shadow: 0 0 10px #fff050, 0 0 20px #ffc107 ,0 0 30px #ffc222;
  }
  .navbar-brand img{
    transition: transform 1s;
  }
  .navbar-brand img:hover{
    transform: scale(1.2);
  }
  footer img{
    transition: transform 1s;
  }
  footer img:hover{
    transform: scale(1.1); 
  }
  .card2-header{
    color: white;
    font-family: 'Bowlby One SC', cursive;
  }
  .card2-body{
    color:#2d862d;
  }
  .card2-title{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
  }
  .card2{
    padding: 20px;
  }
  .lightbox:target {
      outline: none;
      display: block;
  }
  @media (max-width:765px) {
      .thumbnail {
          max-width: 100%;
      }
      .lightbox img {
          margin-top: 50%;
      }
      .card2-body{
        font-size: 3vw;
      }
  }
    h2{
        color: rgba(240, 166, 30, 0.795);
        font-family: Arial, Helvetica, sans-serif;
        
    }
    /* Style all font awesome icons */
.fa {
    padding: 30px;
    font-size: 100px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
.fa-bars{
  color: #ffc107;
}
.fa-bars:hover{
  size: 3rem;
}
  #text{
    color: white;
    font-size: 60px;
    text-align: left;
      font-family: 'Bowlby One SC', cursive;
  }
  .img-profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 6px solid #fff;
    padding: 0.6rem;
    margin: 0.4rem;
    background-color: #1A1F2B;
}
#info{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.project-section{
  font-family: 'Bowlby One SC', cursive;
}
.project {
  margin-bottom: 0;
}
.projects h1 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}
.text-uppercase{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.card2{
  border: 5px solid transparent;
  border-radius: 20px;
  box-shadow: 0 0 10px #fff050, 0 0 20px #ffc107;
}
card2:hover{
  border: 5px solid #fff;
  border-radius: 20px;

}
.navbar{
  font-family: 'Righteous', cursive;
}
footer {
  font-family: 'Josefin Sans', sans-serif;
  opacity: 0.3;
}
footer:hover{
  opacity: 1;
}
.nav-item{
  padding-left: 50px;
  padding-right: 50px;
  font-size: 17px;
}
#college{
  color: white;
  font-family: 'Playfair Display SC', serif;  
}
#college1{
  font-family: 'Bowlby One SC', cursive;
  transition: transform 1s;
}
#college1:hover{
  transform:rotateX(15deg) rotateY(15deg) rotateZ(15deg) scaleX(1.2) scaleY(1.5) scaleZ(1.5);
}
#college:hover{
  color: #ffc107;
}
h1.card2-header{
  transition: transform 1s;
}
h1.card2-header:hover{
  transform:rotateX(15deg) rotateY(15deg) rotateZ(15deg) scaleX(1.2) scaleY(1.5) scaleZ(1.5); 
}
/*icons*/
.sbuttons {
  bottom: 5%;
  position: fixed;
  margin: 1em;
  right: 0;
}
.sbutton {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 20px auto 0;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition: all .1s ease-out;
  transition: all .5s ease-out;
  position: relative;
}
.sbutton > i {
  font-size: 30px;
  line-height: 60px;
  transition: all .2s ease-in-out;
  transition-delay: 2s;
}
.sbutton:active,
.sbutton:focus,
.sbutton:hover {
   box-shadow: 0 0 10px #fff, 0 0 20px #fff050, 0 0 30px #ffc107;
}
.sbutton:not(:last-child) {
  width: 60px;
  height: 60px;
  margin: 20px auto 0;
  opacity: 0;
}
.sbutton:not(:last-child) > i {
  font-size: 25px;
  line-height: 60px;
  transition: all .3s ease-in-out;
}
.sbuttons:hover .sbutton:not(:last-child) {
  opacity: 1;
  width: 60px;
  height: 60px;
  margin: 15px auto 0;
}
.sbutton:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms;
}
.sbutton:nth-last-child(1):hover{
  opacity: 0;
}
.sbutton:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 20ms;
  transition-delay: 20ms;
}
.sbutton:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 40ms;
  transition-delay: 40ms;
}
.sbutton:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 60ms;
  transition-delay: 60ms;
} 
.sbutton:not(:last-child):nth-last-child(5) {
  -webkit-transition-delay: 80ms;
  transition-delay: 80ms;
} 
[tooltip]:before {
  font-family: 'Roboto';
  font-weight: 600;
  border-radius: 2px;
  background-color: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-left: 10px;
  position: absolute;
  left: 100%;
  bottom: 20%;
  white-space: nowrap;
}
 
[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
.sbutton.mainsbutton {
  background: #ffc107;
}
.sbutton.mainsbutton:hover {
  background: #ffc107;
  border: 2px solid #ffc107;
}
.sbutton.github {
  background: #f4cbb2;
}
.sbutton.linkedin {
  background: #0e76a8;
}
.sbutton.mail {
  background: #b23121;
}
.sbutton.call {
  background: #ffc107;
}
/*text animation*/
.textANI {
  font-size: 4vw;
  font-family: 'Orbitron', sans-serif;
  text-align: left;
  cursor: pointer;
  text-shadow: 0 0 10px #fff050, 0 0 20px #ffc107;
}
.textANI span {
	display: inline-block;
}
a.repeat {
  display: inline-block;
  font-size: 12px;
  text-transform: none;
  text-decoration: none;
  color: #f59500;
  padding: 5px 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: normal;
  margin: 0 0 0 50px;
  border-radius: 3px;
  position: relative;
  bottom: 15px;
}
a.repeat:hover {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}
.textANI span:nth-of-type(2) {
	animation-delay: .05s;
}
.textANI span:nth-of-type(3) {
	animation-delay: .1s;
}
.textANI span:nth-of-type(4) {
	animation-delay: .15s;
}
.textANI span:nth-of-type(5) {
	animation-delay: .2s;
}
.textANI span:nth-of-type(6) {
	animation-delay: .25s;
}
.textANI span:nth-of-type(7) {
	animation-delay: .3s;
}
.textANI span:nth-of-type(8) {
	animation-delay: .35s;
}
.textANI span:nth-of-type(9) {
	animation-delay: .4s;
}
.textANI span:nth-of-type(10) {
	animation-delay: .45s;
}
.textANI span:nth-of-type(11) {
	animation-delay: .5s;
}
.textANI span:nth-of-type(12) {
	animation-delay: .55s;
}
.textANI span:nth-of-type(13) {
	animation-delay: .6s;
}
.textANI span:nth-of-type(14) {
	animation-delay: .65s;
}
.textANI span:nth-of-type(15) {
	animation-delay: .7s;
}
.textANI span:nth-of-type(16) {
	animation-delay: .75s;
}
.textANI span:nth-of-type(17) {
	animation-delay: .8s;
}
.textANI span:nth-of-type(18) {
	animation-delay: .85s;
}
.textANI span:nth-of-type(19) {
	animation-delay: .9s;
}
.textANI span:nth-of-type(20) {
	animation-delay: .95s;
}
.textANI span:nth-of-type(21) {
	animation-delay: 1s;
}
.textANI span:nth-of-type(22) {
	animation-delay: 1.05s;
}
.textANI span:nth-of-type(23) {
	animation-delay: 1.1s;
}
.textANI span:nth-of-type(24) {
	animation-delay: 1.15s;
}
.textANI span:nth-of-type(25) {
	animation-delay: 1.2s;
}
.textANI span:nth-of-type(26) {
	animation-delay: 1.25s;
}
.textANI span:nth-of-type(27) {
	animation-delay: 1.3s;
}
.textANI span:nth-of-type(28) {
	animation-delay: 1.35s;
}
.textANI span:nth-of-type(29) {
	animation-delay: 1.4s;
}
.textANI span:nth-of-type(30) {
	animation-delay: 1.45s;
}
.three span {
	color: #fff;
	opacity: 0;
	transform: translate(-300px, 0) scale(0);
	animation: sideSlide .5s forwards;
}
@keyframes sideSlide {
	60% {
		transform: translate(20px, 0) scale(1);
		color: #ffc107;
	}
 
	80% {
		transform: translate(20px, 0) scale(1);
		color: #111;
	}
 
	99% {
		transform: translate(0) scale(1.2);
		color: #fff;
	}
 
	100% {
		transform: translate(0) scale(1);
		opacity: 1;
		color: #fff;
	}
}
/*certificates*/
.gallery { 
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
hr.new1{
  border-top: 1px solid #fff;
}
.gallery img { 
  width: 100%; 
  height: auto;
  border-radius: 20px;
  transition: 500ms;
  margin-bottom: 10px;
  opacity: 0.8;
  page-break-inside: avoid; 
  -webkit-column-break-inside: avoid; 
  break-inside: avoid; 
  cursor: pointer;
}
.gallery img:hover {
  opacity: 0;
  box-shadow: 0 0 5px #fff050, 0 0 10px #ffc107;
}
.modal-img,.model-vid{
margin: 0;
padding: 0;
width: 100%;
height: 100%;
display: table;
box-shadow: 0 0 10px #fff050, 0 0 20px #ffc107;
background: rgba(0,0,0,1);
}
.modal-body{
padding: 0px;
}
.modal-dialog {
height: 100%;
    position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
border: none;
}
@media screen and (max-width:700px)
{
.card__back-content.card-title{
  font-size: 2vw;
}
}
@media screen and (max-width: 767px) {
.gallery { 
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
  }
.gallery div { margin: 0; 
      width: 200px;
  }
.modal-dialog {
      margin: 0 8vw;
  }
}
@media screen and (max-width: 479px) {
  .gallery { 
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
  }
  .gallery div { 
      margin: 0; 
      width: 200px;
  }
}
/*project cards*/
.card {
  perspective: 100rem;
  background:transparent;
  -moz-perspective: 150rem;
  position: relative;
  height: 25rem;
 margin-top: 16px;
 margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
border-radius: 30px;
}

.card__side {
  background: #020e10;
  height: 25rem;
  transition: all, .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  
}
/* 
ROTATION OF CARD ON Y DIRECTION
*/

.card__side--back {
  transform: rotateY(180deg);
  border-radius: 35px;
  color: #fff;
  font-family:'Righteous','cursive';
  padding-top: 16px;
padding-bottom: 16px;
padding-left: 16px;
padding-right: 16px;
}
.card-text{
  font-family: 'Raleway', sans-serif;
}
.card__back-content {
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 35px;
  border-color: #fff;
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0deg);
}

.card__side--front {
  background-color: transparent;
  border-radius: 30px;
  border-color: #fff;
  border width: thick;
}

.card__picture {
  background-size: cover;
  max-width: 100%;
  height: auto;
  background-blend-mode: screen;
  border-color: #fff;
  border width: thick;
}
.card__picture img{
  border-radius: 30px;
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #f2f2f2;
  position: absolute;
  bottom: 0;
 box-align: center;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card__heading-span {
  padding: 0rem 0rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: #404040;
  font-size: xx-large;
  opacity: 100%;
  font-family: 'Righteous', cursive;
  border-radius: 10px;
}
.container .col-1-of-3 {
  /*width: calc((100% - 2 * 6rem) / 3);*/
  width: 50%;
  display:inline-block block;
}
@media screen and (max-width: 700px) {
  .navbar-brand{
    visibility: visible;
  }
  .container {
    display: block;
  }
  .card__side{
    height: 15rem;
  }
  .card{
    height: 15rem;
  }
  .card__heading-span {
    padding: 0rem 0rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: #404040;
    font-size: large;
    opacity: 100%;
    font-family: 'Righteous', cursive;
    border-radius: 10px;
  }
  .container .col-1-of-3{
    width: 100%;
  }
  h1{
    font-size:7vw;
  }
  h3{
    font-size:5vw;
  }
  h5{
    font-size:3vw;
  }
  .thumbnail {
    width: 60%;
    height: auto;
    border-radius: 50%;
    margin: 0.4rem;
  }
  .textANI {
    font-size: 4.5vw;
    text-align: center;
  }
}
.card-title{
  color: #ffc107;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ffc107;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .button-hover a{
    font-size: 10px;
  }
}
/*top scroller*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  left: 15px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border-radius: 50%;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px;
  padding-left: 17px;
  padding-right: 17px;
  border: 0px;
  background: transparent;
  color: #ffc107;
}
#myBtn:hover{
  box-shadow: 0 0 10px #fff050, 0 0 20px #ffc107;
  background-color: #ffc107;
  color: #000;
}
.loader {
  background: #020e08;
  background: radial-gradient(#020d00, #020e08);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  -webkit-animation: 
  spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
          animation: 
  spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) { -webkit-animation-delay: -50ms; animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { -webkit-animation-delay: -100ms; animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { -webkit-animation-delay: -150ms; animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { -webkit-animation-delay: -200ms; animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { -webkit-animation-delay: -250ms; animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
  border-color:  #fff70a;
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: #fff824;
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: #fff93d;
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: #fffa5c;
  height: 48px;
  width: 48px;
  top: 28px;

}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: #fffa75 ;
  height: 34px;
  width: 34px;
  top: 35px;
 
}
@keyframes fadeOut{
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes spin {
  0%, 15% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}

@keyframes spin {
  0%, 15% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
}